.ImageCarousel {
  width: 100%;
  margin-top: var(--spacing-medium);
  padding: calc(var(--spacing-large) * 2) 0;
  border-radius: var(--border-radius-small);
  text-align: center;

  background-color: var(--color-gray);
}

.ImageCarouselContainer {
  padding-top: var(--spacing-large);
}

.ImageWrapper {
  width: 540px;
  height: 400px;
  overflow: hidden;

  margin: 0 auto;
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-image);
  background-color: #4447534f;

  position: relative;
  display: flex;
  place-content: center;
}

.ImageWrapper img {
  width: 540px;
  height: 400px;
  object-fit: cover;
  transform: translateY(-100%);
  opacity: 0;
}

.ImageWrapper img.animate {
  animation-name: flashSlide;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.TitleContainer > p {
  margin: 0;
  font-size: 36px;
  opacity: 0;
  transform: translateY(120%);
  color: var(--color-dark);
}

.TitleContainer.animate > p {
  animation-name: flashSlide;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.Controls {
  padding: 0;
  margin-top: var(--spacing-medium);

  display: flex;
  justify-content: center;
}

.Controls button:last-of-type {
  margin-left: 80px;
}

@keyframes flashSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LARGE_DEVICES > 1201 */
@media (min-width: 1500px) {
  .ImageCarousel {
    display: flex;
    justify-content: center;
    background-color: unset;
  }

  .TitleContainer {
    /* background-color: beige; */
    /* flex: 1; */
    padding-right: var(--spacing-large);
  }

  .TitleList {
    height: 400px;
    /* background-color: pink; */
    margin: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .TitleList li {
    font-size: 32px;

    transition: color 0.3s linear;
  }

  .TitleList .Title {
    color: var(--color-dark);
  }

  .TitleList .CurrentTitle {
    color: var(--color-primary);
  }

  .ImageCarouselContainer {
    padding-top: 0;
  }
}
