.ImageCarousel {
  width: 100%;
  margin-top: var(--spacing-medium);
  padding: calc(var(--spacing-large) * 2) 0;
  border-radius: var(--border-radius-small);
  text-align: center;

  background-color: var(--color-gray);
}

.ImageCarouselContainer {
  padding-top: var(--spacing-large);
}

.ImageWrapper {
  width: 540px;
  height: 400px;
  overflow: hidden;

  margin: 0 auto;
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-image);
  background-color: #444753c2;

  position: relative;
  display: flex;
  place-content: center;
}

.ImageWrapper img {
  width: 540px;
  height: 400px;
  object-fit: cover;
  transform: translateY(-90%);
  opacity: 0;
}

.ImageWrapper img.animate {
  animation-name: flashSlide;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.TitleContainer > p {
  margin: 0;
  font-size: 36px;
  opacity: 0;
  transform: translateY(120%);
  color: var(--color-dark);
}

.TitleContainer.animate > p {
  animation-name: flashSlide;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.Controls {
  padding: 0;
  margin-top: var(--spacing-medium);
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;

  display: flex;
  justify-content: center;
}

.Controls.initial {
  opacity: 0;
  transform: scale(0.5);
}

.Controls button:last-of-type {
  margin-left: 80px;
}

/* LARGE_DEVICES > 1340 */
@media (min-width: 1340px) {
  .ImageCarousel {
    width: var(--mobile-width-percent);
    max-width: var(--desktop-width);
    margin-top: 0;
    padding: var(--spacing-large) 0;

    display: flex;
    justify-content: space-between;

    background: none;
  }

  .TitleList {
    height: 400px;
    margin: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .TitleList li {
    transition: color 0.5s ease-out;
    font-size: 32px;
    position: relative;
    opacity: 0.75;

    color: var(--color-dark);
  }

  .TitleList .highlight {
    font-weight: 700;
    opacity: 1;
  }

  .TitleList .highlight::before {
    display: block;
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    box-shadow: 0px 2px 10px 2px rgb(68, 71, 83, 0.1),
      0px 0px 6px 1px rgb(110, 173, 192, 0.15);

    animation-name: expandRight;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .ImageCarouselContainer {
    padding-top: 0;
  }
}

@keyframes flashSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expandRight {
  0% {
    opacity: 0;
    width: 0%;
  }

  80% {
    opacity: 0.5;
    width: 10%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
