.Container {
  background-color: var(--color-gray);
  padding: var(--spacing-large) 0;
}

.Container img {
  box-shadow: var(--box-shadow-image);
  border-radius: var(--border-radius-common);
}

.description {
  padding: var(--spacing-medium);
}
