.WebDevContainer {
  background-color: var(--color-gray);

  padding: calc(var(--spacing-large) * 2) 0;
  border-radius: 10px;

  display: grid;
  place-items: center;
}

.WebDevContainer > * + * {
  margin-top: var(--spacing-large);
}

.WebDevImgWrapper {
  max-width: 360px;
}

.WebDevContainer > p {
  padding: 0 var(--spacing-medium);
}

.WebDevImg {
  box-shadow: var(--box-shadow-image);
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: 100%;
}

.WebDevImg.animate {
  animation-name: slideUp;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .WebDevImgWrapper {
    max-width: 80%;
  }

  .WebDevContainer > p {
    max-width: 75%;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  35% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
