.Layout > header {
  background-color: #fffcfae2;
  padding-top: 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

/* XL Devices > 1680 */
@media (min-width: 1680px) {
  .Layout > header {
    width: max-content;
    height: 100vh;
    padding-top: 0;
    padding-left: var(--spacing-large);
    border-radius: 0;
    opacity: 0;

    position: fixed;
    display: flex;
    align-items: center;

    background: none;

    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-duration: 2;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
