.Layout > header {
  background-color: #fffcfae2;
  padding-top: 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;

  transform: translateY(-150%);

  animation-name: slideDown;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* XLARGE_Devices > 1680 */
@media (min-width: 1680px) {
  .Layout > header {
    width: max-content;
    height: 100vh;
    padding-top: 0;
    padding-left: var(--spacing-large);
    border-radius: 0;

    transform: translateX(-150%);

    position: fixed;
    display: flex;
    align-items: center;

    background: none;

    animation-name: slideRight;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
