.EngContainer {
  width: 100%;

  display: grid;
  place-items: center;
}

.EngContainer > * + * {
  margin-top: var(--spacing-large);
}

.EngContainer > p {
  padding: 0 var(--spacing-medium);
}

.TextCard {
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-image);
  background-color: var(--color-primary);
}

.TextCard p {
  padding: var(--spacing-large) var(--spacing-medium);
  color: var(--color-light);
}

/* AchievementsList Component */

.AchievementsContainer {
  padding: var(--spacing-medium);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-small);
}

.AchievementsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AchievementsHeader img {
  width: 45px;
  height: 45px;
}

.AchievementsHeader img.animate {
  animation-name: imgShuffle;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.AchievementsHeader h3 {
  padding: 0;
  font-size: 24px;
  color: var(--color-secondary);

  transform: translateX(-10px);
}

.AchievementsHeader h3.animate {
  animation-name: slideRight;
  animation-duration: 0.9s;
  animation-delay: 1.1s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}

.AchievementsList {
  margin: 0;
  padding: 0 var(--spacing-medium) 0 var(--spacing-large);
}

.AchievementsList li {
  position: relative;
}

.AchievementsList li p {
  margin: 0;
  padding: 0;
  color: var(--color-light);
}

.AchievementsList li span {
  color: var(--color-primary);
}

.AchievementsList li:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: var(--border-radius-circle);
  opacity: 0;

  position: absolute;
  top: calc(var(--font-size-small) / 2);
  left: -24px;

  background-color: var(--color-secondary);
}

.AchievementsList li + li {
  margin-top: var(--spacing-medium);
}

.AchievementsList li.animate::before {
  animation-name: fadeIn;
  animation-duration: 0.3s;

  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AchievementsList li:first-of-type.animate::before {
  animation-delay: 1.5s;
}

.AchievementsList li:nth-of-type(2).animate::before {
  animation-delay: 2s;
}

.AchievementsList li:nth-of-type(3).animate::before {
  animation-delay: 2.5s;
}

.AchievementsList li:last-of-type.animate::before {
  animation-delay: 3s;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .EngContainer {
    max-width: 80%;
    margin: 0 auto;
  }

  .EngContainer > * + * {
    margin-top: calc(var(--spacing-large) * 2);
  }

  .TextCard {
    padding: var(--spacing-large) var(--spacing-medium);
  }

  .AchievementsList {
    padding: var(--spacing-medium) var(--spacing-small) var(--spacing-medium)
      var(--spacing-large);
  }

  .AchievementsHeader img {
    width: 65px;
    height: 65px;
  }

  .AchievementsHeader h3 {
    font-size: 36px;
  }

  .AchievementsList li:before {
    width: 18px;
    height: 18px;
    top: var(--font-size-medium);
    left: -28px;
    transform: translateY(-50%);
  }

  .AchievementsList li + li {
    margin-top: var(--spacing-large);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imgShuffle {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  55% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
