.textContainer {
  background-color: var(--color-primary);
}

.textContainer p {
  padding: var(--spacing-large) var(--spacing-medium);
  color: var(--color-light);
}

.cardText {
  color: var(--color-dark);
}

/* AchievementsList Component */

.AchievementsContainer {
  padding: var(--spacing-medium);
  background-color: var(--color-dark);
}

.AchievementsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AchievementsHeader img {
  width: 45px;
  height: 45px;
  transform: rotate(-15deg);
}

.AchievementsHeader h3 {
  padding: 0;
  font-size: 24px;
  color: var(--color-secondary);
}

.AchievementsList {
  margin: 0;
  padding: 0 var(--spacing-medium) 0 var(--spacing-large);
}

.AchievementsList li {
  position: relative;
}

.AchievementsList li p {
  margin: 0;
  padding: 0;
  color: var(--color-light);
}

.AchievementsList li span {
  color: var(--color-primary);
}

.AchievementsList li:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius-circle);

  position: absolute;
  top: calc(var(--font-size-medium) / 2);
  left: -24px;

  background-color: var(--color-secondary);
}

.AchievementsList li + li {
  margin-top: var(--spacing-medium);
}
