.ExperiencePageSection + .ExperiencePageSection {
  margin-top: var(--spacing-medium);
}

.Subtitle {
  padding: 0 var(--spacing-medium);
}

.Content {
  margin-top: var(--spacing-medium);
}

span {
  font-weight: bold;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .Subtitle {
    width: 80%;
    margin: 0 auto;
  }

  .Content {
    margin-top: var(--spacing-large);
  }
}
