.ResponsiveWrapper {
  width: var(--mobile-width-percent);
  max-width: var(--device-xl-maxWidth);
  margin: 0 auto;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* TODO: REMOVE FOR DEVELOPMENT ONLY */
  background-color: tan;
}

/* tablet > 481 */
@media (min-width: 481px) {
  .ResponsiveWrapper {
    background-color: rgba(0, 255, 255, 0.75);
  }
}

/* desktop > 1201 */
@media (min-width: 1201px) {
  .ResponsiveWrapper {
    background-color: rgba(255, 166, 0, 0.75);
  }
}
