.ResponsiveWrapper {
  width: var(--mobile-width-percent);
  margin: 0 auto;
  padding-top: calc(var(--spacing-large) * 2);
  align-items: center;

  display: flex;
  flex-direction: column;
}

/* tablet > 768 */
@media (min-width: 768px) {
  .ResponsiveWrapper {
    min-height: calc(100vh - 320px);
  }
}

/* LARGE_DEVICES > 1201 */
@media (min-width: 1500px) {
  .ResponsiveWrapper {
    width: 100%;
    min-height: calc(100vh - 90px);
  }
}
