.ResponsiveWrapper {
  width: var(--mobile-width-percent);
  max-width: var(--device-xl-maxWidth);
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* TODO: REMOVE FOR DEVELOPMENT ONLY */
  background-color: rgb(223, 207, 158);
}

/* tablet > 481 */
@media (min-width: 481px) {
  .ResponsiveWrapper {
    /* TODO: REMOVE FOR DEVELOPMENT ONLY */
    background-color: rgba(0, 255, 255, 0.75);
  }
}

/* desktop > 1201 */
@media (min-width: 1201px) {
  .ResponsiveWrapper {
    /* TODO: REMOVE FOR DEVELOPMENT ONLY */
    background-color: rgba(255, 166, 0, 0.75);
  }
}
