.LoadingScreen {
  height: 100vh;
  width: 100%;
  z-index: 5000;

  position: absolute;
  top: 0;

  background-color: var(--color-dark);

  display: grid;
  place-content: center;

  animation-name: fadeOut;
  animation-duration: 0.75s;
  animation-delay: 2.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.AnimationContainer {
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-name: throttleShip;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AnimationContainer > .Top {
  width: 150px;
  height: 80px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;

  border: 6px solid var(--color-dark-gray);
  border-bottom: 0;
  background-color: var(--color-primary);

  position: relative;
  top: 50px;
}

.AnimationContainer > .Middle {
  width: 300px;
  height: 120px;
  border-radius: 50%;

  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid var(--color-dark-gray);
}

.AnimationContainer > .Middle > .Lights {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  border-radius: 50%;

  background-color: var(--color-dark);

  animation-name: flashLights;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.AnimationContainer > .Middle > .Lights:nth-child(2) {
  margin: 20px 30px 0 30px;
}

.AnimationContainer > .LazersContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;

  animation-name: raiseUp;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.AnimationContainer > .LazersContainer::before {
  content: '';
  display: bottom;
  width: 105%;
  height: 10px;
  box-shadow: 0px 2px 3px rgba(245, 245, 245, 0.551);
  border-radius: 40px;
  opacity: 0;
  transform: translateX(-10%);
  background-color: rgb(81, 207, 43);

  position: absolute;
  bottom: 0;

  animation-name: lightGround;
  animation-duration: 0.25s;
  animation-delay: 1.75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AnimationContainer > .LazersContainer > .Lazer {
  width: 10px;
  height: 0;

  border-radius: 40px;
  box-shadow: 0px 2px 3px rgba(245, 245, 245, 0.551);
  background-color: rgb(81, 207, 43);

  animation-name: shootLazer;
  animation-duration: 0.25s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AnimationContainer > .LazersContainer > .Lazer:first-of-type {
  transform: rotateZ(15deg);
}

.AnimationContainer > .LazersContainer > .Lazer:last-of-type {
  margin-left: 200px;
  transform: rotateZ(-15deg);
  animation-delay: 1.95s;
}

@keyframes throttleShip {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes raiseUp {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

@keyframes shootLazer {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashLights {
  0% {
    background-color: var(--color-dark);
  }
  100% {
    background-color: rgb(81, 207, 43);
  }
}

@keyframes lightGround {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  50% {
    opacity: 0;
    transform: translateX(-30%);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
