.LoadingScreen {
  --raise-up-height: 200px;
  height: 100vh;
  width: 100%;
  z-index: 5000;

  position: absolute;
  top: 0;

  background-color: var(--color-dark);

  display: grid;
  place-content: center;

  animation-name: fadeOut;
  animation-duration: 0.75s;
  animation-delay: 2.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.AnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-name: throttleShip;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AnimationContainer > .Top {
  width: 60px;
  height: 30px;

  border-top-right-radius: 200px;
  border-top-left-radius: 200px;

  border: 6px solid var(--color-dark-gray);
  border-bottom: 0;
  background-color: var(--color-primary);

  position: relative;
  top: 20px;
}

.AnimationContainer > .Middle {
  width: 130px;
  height: 55px;
  border-radius: 50%;

  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid var(--color-dark-gray);
}

.AnimationContainer > .Middle > .Lights {
  width: 10px;
  height: 10px;
  margin-top: 10px;
  border-radius: 50%;

  background-color: var(--color-dark);

  animation-name: flashLights;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.AnimationContainer > .Middle > .Lights:nth-child(2) {
  margin: 12.5px 15px 0 15px;
}

.AnimationContainer > .LazersContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;

  animation-name: raiseUp;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.AnimationContainer > .LazersContainer::before {
  content: '';
  display: bottom;
  width: 0;
  height: 6px;
  box-shadow: 0px 2px 3px rgba(245, 245, 245, 0.5);
  border-radius: 40px;
  opacity: 0;
  background-color: rgb(81, 207, 43);

  position: absolute;
  bottom: 0;

  animation-name: lightGround;
  animation-duration: 0.25s;
  animation-delay: 1.65s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AnimationContainer > .LazersContainer > .Lazer {
  width: 6px;
  height: 0;

  border-radius: 40px;
  box-shadow: 0px 2px 3px rgba(245, 245, 245, 0.5);
  background-color: rgb(81, 207, 43);

  animation-name: shootLazer;
  animation-duration: 0.25s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.AnimationContainer > .LazersContainer > .Lazer:first-of-type {
  transform: rotateZ(12deg);
}

.AnimationContainer > .LazersContainer > .Lazer:last-of-type {
  margin-left: 90px;
  transform: rotateZ(-12deg);
  animation-delay: 1.95s;
}

/* MEDIUM_DEVICES > 768 */
@media (min-width: 768px) {
  .LoadingScreen {
    --raise-up-height: 300px;
  }

  .AnimationContainer > .Top {
    width: 80px;
    height: 50px;
    top: 30px;
  }

  .AnimationContainer > .Middle {
    width: 200px;
    height: 90px;
  }

  .AnimationContainer > .Middle > .Lights {
    width: 15px;
    height: 15px;
  }

  .AnimationContainer > .Middle > .Lights:nth-child(2) {
    margin: 15px 20px 0 20px;
  }

  .AnimationContainer > .LazersContainer > .Lazer:last-of-type {
    margin-left: 120px;
  }

  .AnimationContainer > .LazersContainer::before {
    height: 10px;
    bottom: 2.5px;
  }

  .AnimationContainer > .LazersContainer > .Lazer {
    width: 10px;
  }

  .AnimationContainer > .LazersContainer > .Lazer:first-of-type {
    transform: rotateZ(15deg);
  }

  .AnimationContainer > .LazersContainer > .Lazer:last-of-type {
    transform: rotateZ(-15deg);
  }
}

/* LARGE_DEVICES: > 1360 */
@media (min-width: 1360px) {
  .LoadingScreen {
    --raise-up-height: 400px;
  }

  .AnimationContainer > .Top {
    width: 150px;
    height: 80px;
    top: 50px;
  }

  .AnimationContainer > .Middle {
    width: 300px;
    height: 120px;
  }

  .AnimationContainer > .Middle > .Lights {
    width: 20px;
    height: 20px;
  }

  .AnimationContainer > .Middle > .Lights:nth-child(2) {
    margin: 20px 30px 0 30px;
  }

  .AnimationContainer > .LazersContainer > .Lazer:last-of-type {
    margin-left: 200px;
  }

  .AnimationContainer > .LazersContainer::before {
    bottom: 5px;
  }
}

@keyframes throttleShip {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes raiseUp {
  from {
    height: 0;
  }
  to {
    height: var(--raise-up-height);
  }
}

@keyframes shootLazer {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashLights {
  0% {
    background-color: var(--color-dark);
  }
  100% {
    background-color: rgb(81, 207, 43);
  }
}

@keyframes lightGround {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
