.SkillsContainer {
  margin: 0;
  padding: 0;
}

.itemWrapper {
  width: 100%;
  overflow-x: hidden;
}

.itemWrapper + .itemWrapper {
  margin-top: 5px;
  display: flex;
}

.itemWrapper li {
  width: 100%;
  padding: 10px;
  text-align: center;

  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.itemWrapper li p {
  font-weight: 700;
}

.itemWrapper:nth-of-type(odd) li {
  transform: translateX(-150%);

  color: var(--color-light);
  background-color: var(--color-primary);
}

.itemWrapper:nth-of-type(even) li {
  transform: translateX(150%);

  color: var(--color-dark);
  background-color: var(--color-dark-gray);
}

.itemWrapper:nth-of-type(odd).animate li {
  animation-name: slideRight;
}

.itemWrapper:nth-of-type(even).animate li {
  animation-name: slideLeft;
}

.itemWrapper:last-child li {
  border-bottom-left-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}

@keyframes slideRight {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
