.BooksListContainer {
  width: 100%;
  overflow: hidden;
}

.BooksListTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BooksListTitle h2 {
  margin-left: var(--spacing-small);
  font-size: 32px;
  font-weight: 400;

  color: var(--color-dark);
}

.BooksListTitle img {
  width: 40px;
  height: 40px;
}

.BooksList {
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-small);

  display: flex;
  justify-content: flex-start;

  background-color: var(--color-dark);
}

.ImageContainer {
  min-width: 240px;

  animation: translateForwardBack;
  animation-delay: 3s;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes translateForwardBack {
  from {
    transform: translate(-2400px);
  }
  to {
    transform: translate(0);
  }
}
