.Card {
  background-color: var(--color-primary);

  padding: var(--spacing-medium);
  border-radius: var(--border-radius-common);
  box-shadow: var(--box-shadow-image);
}

.Card > * {
  color: var(--color-light);
}
