.Navigation {
  width: var(--mobile-width-percent);
  max-width: var(--device-medium-minWidth);
  margin: 0 auto;
  padding: 2px 0px;
  border-radius: var(--border-radius);

  position: sticky;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 100;

  display: flex;
  place-content: center;

  background-color: var(--color-gray);
}

.icon {
  position: relative;
  display: flex;
}

.Navigation a + a {
  margin-left: 24px;
}

.inactive {
  filter: var(--svg-filter-dark);
}

.active {
  filter: var(--svg-filter-light);
}

.selected {
  content: '';
  display: inline-block;

  width: 64px;
  height: 64px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-circle);
  box-shadow: var(--box-shadow-icon);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-primary);
}
