.Navigation {
  width: var(--mobile-width-percent);
  max-width: var(--device-medium-minWidth);
  margin: 0 auto;
  padding: 2px 0px;
  border-radius: var(--border-radius-medium);

  display: flex;
  place-content: center;

  background-color: var(--color-gray);
}

.Navigation > a + a {
  margin-left: 24px;
}

.Navigation .Icon {
  position: relative;
  display: flex;
}

.Navigation .Icon .inactive {
  filter: var(--svg-filter-dark);
}

.Navigation .Icon .active {
  filter: var(--svg-filter-light);
}

.Navigation .Icon .selected {
  content: '';
  display: inline-block;

  width: 64px;
  height: 64px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-circle);
  box-shadow: var(--box-shadow-icon);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-primary);
}

/* XL Devices > 1680 */
@media (min-width: 1680px) {
  .Navigation {
    width: max-content;
    max-width: unset;
    height: 70vh;
    max-height: 800px;
    padding: 0px 2px;
    margin: 0 auto;
    border-radius: 36px;

    flex-direction: column;
    place-content: unset;
    justify-content: center;
  }

  .Navigation > a + a {
    margin-left: 0;
    margin-top: 65px;
  }

  .Navigation .Icon {
    width: 50px;
    height: 50px;
  }

  .Navigation .Icon .selected {
    width: 100px;
    height: 100px;
    box-shadow: var(--box-shadow-image);
  }
}
