.BackgroundDesign {
  width: 50%;
  z-index: -1;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  transform: translateX(100%);

  animation: slideLeft;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;

  background: linear-gradient(
    233deg,
    rgba(220, 230, 234, 1) 50%,
    rgba(245, 245, 245, 1) 100%
  );
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
