.AboutCardsContainer {
  margin-top: var(--spacing-large);
  background-color: yellow;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.AboutCardsContainer > * {
  max-width: 768px;
}

.BackgroundDesign {
  width: 50%;
  z-index: -1;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  transform: translateX(100%);

  animation: slideLeft;
  animation-duration: 0.5s;

  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  animation-fill-mode: forwards;

  background: linear-gradient(
    233deg,
    rgba(220, 230, 234, 1) 50%,
    rgba(245, 245, 245, 1) 100%
  );
}

/* LARGE_DEVICES: > 1500 */
@media (min-width: 1500px) {
  .AboutCardsContainer {
    background-color: pink;
  }

  .AboutCardsContainer > * {
    max-width: 1124px;
  }

  .AboutCardsContainer > div:nth-of-type(2) {
    flex-direction: row;
    max-width: 1224px;
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
  }

  .AboutCardsContainer > div:nth-of-type(2) > header {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
