.AboutCard {
  width: 100%;
  max-width: 700px;
  margin-top: var(--spacing-large);

  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius-common);
}

.AboutCard + .AboutCard {
  margin-top: calc(var(--spacing-large) * 2);
}

.AboutCardHeader {
  border-top-right-radius: var(--border-radius-common);
  border-top-left-radius: var(--border-radius-common);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-dark);
}

.AboutCardHeader img {
  width: 65px;
  padding: 24px;
}

.AboutCard .Body {
  flex: 1;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .AboutCardHeader img {
    padding: 36px;
  }
}
