.AboutCard {
  width: 100%;
  max-width: 490px;

  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius);
}

.AboutCard + .AboutCard {
  margin-top: var(--margin-top-large);
}

.header {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-dark);
}

.header img {
  width: 65px;
  height: 65px;
  padding: 24px;
}

.body {
  flex: 1;
}
