.AboutCard {
  width: 100%;
  max-width: 700px;
  margin-top: var(--spacing-large);

  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius-medium);
}

.AboutCard + .AboutCard {
  margin-top: calc(var(--spacing-large) * 2);
}

.AboutCardHeader {
  border-top-right-radius: var(--border-radius-medium);
  border-top-left-radius: var(--border-radius-medium);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-dark);
}

.AboutCardHeader img {
  width: 65px;
  padding: 24px;

  opacity: 0;

  animation: opacityInit;
  animation-duration: 0.3s;
  animation-delay: 0.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.AboutCard .Body {
  flex: 1;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .AboutCardHeader img {
    padding: 36px;
  }
}

@keyframes opacityInit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
