.ImageView {
  width: 100%;
  margin-top: var(--spacing-large);
}

.ImageContainer {
  text-align: center;
  border-radius: var(--border-radius-small);
}

.ImageWrapper {
  width: 345px;
  height: 230px;
  overflow: hidden;
  margin: 0 auto;

  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-image);

  position: relative;
}

.ImageWrapper img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.ImageContainer:nth-of-type(even) {
  background: var(--color-dark-grey);
  background: radial-gradient(
    circle,
    rgba(189, 202, 206, 1) 0%,
    rgba(220, 230, 234, 1) 80%
  );
}

.ImageContainer .title {
  font-weight: var(--font-weight-bold);

  margin: 0 0 10px 0;
  padding: var(--spacing-small) 0;
}

.ImageContainer:nth-of-type(odd) .title {
  color: var(--color-primary);
}

.ImageContainer img {
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-image);

  max-width: 500px;
}

.ImageContainer:first-of-type .ImageWrapper {
  box-shadow: var(--box-shadow-icon);
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius-circle);
  height: 345px;
}

.ImageContainer + .ImageContainer {
  margin-top: var(--spacing-large);
  padding: var(--spacing-medium) 0 60px 0;
}

/* SMALL/MEDIUM_DEVICES: > 640 */
@media (min-width: 640px) {
  .ImageView {
    margin-top: calc(var(--spacing-large) * 1.5);
  }
}
