.ImageView {
  width: 100%;
  background-color: aquamarine;
  margin-top: var(--spacing-large);
}

.ImageContainer {
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImageContainer:nth-of-type(even) {
  background: var(--color-dark-grey);
  background: radial-gradient(
    circle,
    rgba(189, 202, 206, 1) 0%,
    rgba(220, 230, 234, 1) 80%
  );
}

.ImageContainer .title {
  font-weight: var(--font-weight-bold);

  margin: 0 0 10px 0;
  padding: var(--spacing-small) 0;
}

.ImageContainer:nth-of-type(odd) .title {
  color: var(--color-primary);
}

.ImageContainer img {
  border-radius: var(--border-radius-common);
  box-shadow: var(--box-shadow-image);

  max-width: 500px;
}

.ImageContainer:first-of-type img {
  border-radius: var(--border-radius-circle);
}

.ImageContainer + .ImageContainer {
  margin-top: var(--spacing-large);
  padding: var(--spacing-medium) 0 60px 0;
}

/* SMALL_MEDIUM_DEVICES: > 640 */
@media (min-width: 640px) {
  .ImageView {
    margin-top: calc(var(--spacing-large) * 1.5);
  }
}
