.ContactForm {
  width: 100%;
  margin-top: var(--spacing-medium);
}

.FormControlContainer > * + * {
  margin-top: var(--spacing-medium);
}

.FormControl > input,
textarea,
select {
  width: 100%;
  padding: 1em;

  box-sizing: border-box;
  box-shadow: var(--box-shadow-icon);
  border: none;
  border-radius: 8px;

  font-size: 18px;
  color: var(--color-dark);

  /* TODO: REMOVE FOR DEVELOPMENT ONLY */
  background-color: pink;
}

.FormControl textarea {
  display: block;
  height: 200px;
  resize: none;
}

.FormControl > *:focus {
  outline: 2px solid var(--color-primary);
}

.Actions {
  margin-top: var(--spacing-medium);
}

.Actions img {
  width: 36px;

  margin-right: 5px;
  filter: var(--svg-filter-light);
}

.Actions button {
  width: 100%;
  height: 120px;

  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow-icon);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 25px;
  color: var(--color-light);
  background-color: var(--color-primary);
}

.Actions button:disabled {
  box-shadow: none;
  color: var(--color-dark-gray);
  background-color: var(--color-gray);
}

.Error {
  outline: 2px solid var(--color-error);
}

.ErrorMessage {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  color: var(--color-error);
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .ContactForm {
    display: flex;

    /* TODO: REMOVE FOR DEVELOPMENT ONLY */
    background-color: burlywood;
  }

  .FormControlContainer {
    flex: 2;
  }

  .FormControl > input,
  textarea,
  select {
    font-size: 25px;
  }

  .FormControl textarea {
    height: 280px;
  }

  .Actions {
    flex: 1;
    margin-top: 0;
    padding-left: var(--spacing-small);
  }

  .Actions img {
    width: 55px;
    margin-right: 10px;
    filter: var(--svg-filter-light);
  }

  .Actions button {
    height: 100%;
    font-size: 40px;
  }
}
