.cardContentContainer {
  margin: var(--spacing-medium) 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContentContainer img {
  padding: var(--spacing-small);
}

.cardIcon {
  width: 45px;
  height: 45px;
}

.mapIcon {
  width: 65px;
  height: 65px;
}

.textContainer p {
  color: var(--color-primary);
}

.textContainer span {
  color: var(--color-secondary);
}
