.Drawer {
  width: 60%;
  max-width: 500px;
  z-index: 1000;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  transform: translateX(100%);
  transition: transform ease-in 300ms;

  display: flex;
  justify-content: flex-start;

  background-color: var(--color-dark);
}

.open {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.icon {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  filter: none;
  opacity: 0;
}

.Drawer.open .icon {
  opacity: 1;

  transition: opacity 0.5s ease-in 1s;
}

.HamburgerContainer {
  display: flex;
  position: absolute;
  top: 30%;
  right: 100%;
  align-items: center;
}

.HamburgerContainer p {
  font-size: 36px;
}
