.Footer {
  width: 100%;
  padding: var(--spacing-small) 0;
  margin-top: var(--spacing-large);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-light-gray);
}

.socialsList {
  padding: 0;
  display: flex;
}

.socialsList li {
  list-style-type: none;
}

.socialsList li + li {
  margin-left: 30px;
}

.socialsList li img {
  filter: var(--svg-filter-dark);
}

.socialsList li img:hover {
  cursor: pointer;
  filter: var(--svg-filter-primary);
}

/* medium devices > 768 */
@media (min-width: 768px) {
  .Footer {
    padding: var(--spacing-medium) 0;
  }

  .socialsList li img {
    width: 45px;
    height: 45px;
  }
}

/*  LARGE_DEVICES > 1500 */
@media (min-width: 1500px) {
  .Footer {
    padding: 0;
    margin-top: var(--spacing-large);

    justify-content: flex-end;
  }

  .Footer .socialsList {
    padding-right: var(--spacing-large);
  }

  .socialsList li img {
    width: 55px;
    height: 55px;
  }
}
