:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color theme */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --color-light: #fffcfa;
  --color-dark: #444753;
  --color-primary: #6eadc0;
  --color-secondary: #ff8a00;
  --color-gray: #dce6ea;
  --color-light-gray: #f5f5f5;
  --color-dark-gray: #bdcace;
  --color-error: #ad3319;

  /* responsive breakpoints */
  --device-small-minWidth: 320px;
  --device-medium-minWidth: 481px;
  --device-large-minWidth: 1025px;
  --device-xl-minWidth: 1201px;
  --device-xl-maxWidth: 1280px;

  /* var(--color-light) converted to svg filter: https://change-svg-color.vercel.app/ */
  --svg-filter-light: invert(93%) sepia(6%) saturate(904%) hue-rotate(43deg)
    brightness(115%) contrast(113%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: var(--device-small-minWidth);
  min-height: 100vh;
}
