.TitleContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TitleContainer img {
  width: 75px;
  margin-right: calc(var(--spacing-large) * 1.5);
  transform: translate(-20%, 20%);

  animation-name: slideRightUp;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.EmailContainer {
  width: 100%;
  margin-top: var(--spacing-medium);

  display: flex;
  align-items: flex-end;
}

.EmailContainer img {
  padding-bottom: 3px;
  width: 32px;
  filter: var(--svg-filter-primary);
}

.EmailContainer p {
  padding-left: var(--spacing-small);
  font-style: italic;
  color: var(--color-dark);
}

/* Success Screen Component */
.SuccessScreenContainer {
  text-align: center;
  max-width: 570px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.SuccessTitle {
  padding: var(--spacing-medium);
}

.SuccessTitle p {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.SuccessIconWrapper {
  width: 100%;
  padding: var(--spacing-large) 0;

  display: flex;
  place-content: center;
}

.SuccessIconWrapper img {
  width: 90px;
  filter: var(--svg-filter-dark-gray);
  transform: scale(1.5);

  animation-name: opacityInit;
  animation-duration: 1.2s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.animateCard {
  opacity: 0;
  transform: translateY(100%);

  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .TitleContainer {
    /* TODO: REMOVE FOR DEVELOPMENT ONLY */
    /* background-color: rgba(106, 255, 0, 0.75); */

    justify-content: flex-start;
  }

  .TitleContainer img {
    width: 85px;
    margin-right: 0;
  }

  .EmailContainer img {
    width: 55px;
  }

  /* Success Screen Component */
  .SuccessIconWrapper {
    padding: 80px 0;
  }
}

@keyframes slideRightUp {
  0% {
    transform: translate(-20%, 20%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacityInit {
  0% {
    filter: var(--svg-filter-dark-gray);
  }
  50% {
    filter: var(--svg-filter-primary);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    filter: var(--svg-filter-primary);
    transform: scale(1);
  }
}
