.TitleContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TitleContainer img {
  width: 75px;
  margin-right: calc(var(--spacing-large) * 1.5);
  transform: translate(-20%, 20%);

  animation-name: slideRightUp;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.EmailContainer {
  width: 100%;
  margin-top: var(--spacing-medium);

  display: flex;
  align-items: flex-end;
}

.EmailContainer img {
  padding-bottom: 3px;
  width: 32px;
  filter: var(--svg-filter-dark-gray);
}

.EmailContainer p {
  padding-left: var(--spacing-small);
  font-style: italic;
  color: var(--color-primary);
}

/* Success Screen Component */
.SuccessScreenContainer {
  text-align: center;
  height: inherit;
  max-width: 570px;
}

.SuccessIconWrapper {
  width: 100%;
  padding: 60px 0;

  display: flex;
  place-content: center;
}

.SuccessIconWrapper img {
  width: 90px;
}

/* MEDIUM_DEVICES: > 768 */
@media (min-width: 768px) {
  .TitleContainer {
    /* TODO: REMOVE FOR DEVELOPMENT ONLY */
    /* background-color: rgba(106, 255, 0, 0.75); */

    justify-content: flex-start;
  }

  .TitleContainer img {
    width: 85px;
    margin-right: 0;
  }

  .EmailContainer img {
    width: 55px;
  }

  /* Success Screen Component */
  .SuccessIconWrapper {
    padding: 80px 0;
  }
}

@keyframes slideRightUp {
  0% {
    transform: translate(-20%, 20%);
  }
  100% {
    transform: translate(0, 0);
  }
}
